#home_imgupload {
	width: 80%;
	height: 480px;
	background-color: white;
	position: absolute;
	top: 80px;
	left: 250px;
}

.hover:hover{
	color: #7dcfef;
	background-color: #35495d;
}
#dropzone {
	width: 95%;
	height: 85%;
	display: flex;
	justify-content: center;

	align-items: center;
	border: dashed #aaaaaa 2px;
}
#preview {
	max-width: 300px;
	max-height: 200px;
	overflow: auto;

	margin-top: 0;
}

.imgupload_top {
	width: 100%;
	height: 10%;
	background-color: #d6ebf0;
	display: flex;
	align-items: center;
	text-indent: 2em;
}

#imgupload_font {
	height: 20%;
	background-color: #fff;
	width: 100%;
	font-size: 60px;
	align-items: center;
}

#prompt {
	height: 8%;
	display: flex;
	align-items: center;
}

#border {
	display: flex;
	justify-content: center;
	/* 水平居中 */
	align-items: center;

	width: 100%;
	height: 70%;
	background-color: #fff;
	 box-shadow: 0 0 5px 0 #000;
}

#upload_part {
	width: 95%;
	height: 85%;
	display: flex;
	justify-content: center;
	
	align-items: center;
	border: dashed #aaaaaa 2px;

}

#imgupload_bottom {
	width: 100%;
	height: 40px;
	 display: flex;
	align-items: center; /* 垂直居中对齐 */
	background-color: white;
	position: absolute;
	top: 540px;
	left: 0px;
}
#imgupload_bottom p{
	margin-right: auto;;
}

	
#bottom_btn_div{
	position: relative;
	left: 40px;
	width: 90%;
	height: 100%;
	float: right;
	align-items: center;
	
	text-align: right;
}
#img_btn{
	width: 50px;
	height: 100%;
	border: none;
	background-color: #4281e4;
	text-align: center;
	

	
	position: relative;

}
#img_img{
	width: 30px;
	height: auto;
	padding: 0px 3px;
	float: left;
	
}

#position_btn{
	width: 30px;
	height: 100%;
	border: none;
	padding: 0;
	float: right;
}
#position_btn img{
	width: 40px;
	height: 40px;
}